@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@400;500;600&display=swap');

body {
  margin: 0;
  font-family: 'Prompt', sans-serif,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #F3E1E3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
